*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8),
     rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}

h2 {
    letter-spacing: 1.4rem;
    padding-top: 90px;
}

h4 {
    letter-spacing: 1.5rem;
}

.tour-text {
  width: 60%;
}

.tour-img {
  width: 40%;
}
.sec {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
}

.cool {
  width: 18rem;
}

.pt {
    padding-top: 150px;
}


.footer {
    min-height: 30vh;
}

.services .icon-box {
  text-align: center;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 767px) {
  .tour-per {
      padding: 20px;
    }
  
    .tour {
      flex-direction: column;
    }
  
    .tour-text {
      width: 100%;
      margin-top: 0.7rem;
    }
  
    .tour-img {
     display: none;
    }
  
    .tour-text-1 {
      padding-bottom: 0;
      margin-bottom: 0.2rem;
    }
  
    .tour-text-heading {
        text-align: center;
    }
  
    .world {
      flex-direction: column;
      padding: 20px;
    }
  
    .world-section {
      padding: 20px;
    }
  
    .testimony-section {
      padding-left: 150px;
    }
  
    .card-1 {
      padding: 20px;
    }
  
  
  }


  @media (max-width: 575px) {
    .tour-per {
      padding: 20px;
    }
  
    .tour {
      flex-direction: column;
    }
  
    .tour-text {
      width: 100%;
      margin-top: 0.7rem;
    }
  
    .tour-img {
      display: none;
    }
  
    .tour-text-1 {
      padding-bottom: 0;
      margin-bottom: 0.2rem;
    }
  
    .tour-text-heading {
        text-align: center;
    }
  
    .world {
      flex-direction: column;
      padding: 20px;
    }
  
    .world-section {
      padding: 20px;
    }
  
    .testimony-section {
      padding-left: 150px;
    }
  
    .card-1 {
      padding: 20px;
    }
  
  
  }

  @media (max-width: 425px) {
    .tour-per {
      padding: 20px;
    }
  
    .tour {
      flex-direction: column;
    }
  
    .tour-text {
      width: 100%;
      margin-top: 0.7rem;
    }
  
    .tour-img {
      display: none;
    }
  
    .tour-text-1 {
      padding-bottom: 0;
      margin-bottom: 0.2rem;
    }
  
    .tour-text-heading {
        text-align: center;
    }
  
    .world {
      flex-direction: column;
      padding: 20px;
    }
  
    .world-section {
      padding: 20px;
    }
  
    .testimony-section {
      flex-direction: column;
      padding-left: 50px;
    }
  
    .card-1 {
      padding: 20px;
    }
  
  
  }

  @media (max-width: 375px) {
    .tour-per {
      padding: 20px;
    }
  
    .tour {
      flex-direction: column;
    }
  
    .tour-text {
      width: 100%;
      margin-top: 0.7rem;
    }
  
    .tour-img {
      display: none;
    }
  
    .tour-text-1 {
      padding-bottom: 0;
      margin-bottom: 0.2rem;
    }
  
    .tour-text-heading {
        text-align: center;
    }
  
    .world {
      flex-direction: column;
      padding: 20px;
    }
  
    .world-section {
      padding: 20px;
    }
  
    .testimony-section {
      padding: 0 30px 10px 30px;
    }
  
    .card-1 {
      padding: 20px;
    }
    
  
  }

@media (max-width: 320px) {

  h2 {
    letter-spacing: 1rem;
  }


  .tour-per {
    padding: 20px;
  }

  .tour {
    flex-direction: column;
  }

  .tour-text {
    width: 100%;
    margin-top: 0.7rem;
  }

  .tour-img {
    display: none;
  }

  .tour-text-1 {
    padding-bottom: 0;
    margin-bottom: 0.2rem;
  }

  .tour-text-heading {
      text-align: center;
  }

  .world {
    flex-direction: column;
    padding: 20px;
  }

  .world-section {
    padding: 20px;
  }

  .testimony-section {
    flex-direction: column;
    padding-bottom: 15px;
  }

  .card-1 {
    padding: 20px;
  }

  .cool {
    width: 13rem;
  }
}



